<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: 'Withdrawal'}) %> 
<body>
    <section id="main-nav">
        <%- include('partials/header', {user}) %> 
    </section>
    <div class="w-75 vh-100 d-flex flex-column justify-content-center mx-auto">
        <h1 class="display-2 text-center">ATM Withdrawal</h1>
        <% if(locals.error) { %>
            <div class="alert alert-danger text-center" role="alert">
                <%= error %>
            </div>
        <% } %>
        <form action="/withdrawal/<%= user.uuid %>?_method=PATCH" method="POST">
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingPassword" placeholder="Amount" name="withdrawal" required>
                <label for="floatingPassword">Amount</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Withdraw</button>
        </form>
    </div>
</body>
</html>