<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: 'Registration'}) %> 
<body>
    <div class="container">
        <div class="w-75 vh-100 d-flex flex-column justify-content-center mx-auto">
            <h1 class="display-2 text-center">Bayan Academy ATM</h1>
            <% if(locals.error) { %>
                <div class="alert alert-warning text-center" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <form action="/registration" method="POST">
                <div class="row form-floating">
                    <div class="col form-floating mb-3">
                      <input type="text" class="form-control" id="floatingFirstName" placeholder="First name" name="firstName">
                      <label for="floatingFirstName" class="px-4">First Name</label>
                    </div>
                    <div class="col form-floating mb-3">
                      <input type="text" class="form-control" id="floatingLastName" placeholder="Last name" name="lastName">
                      <label for="floatingLastName" class="px-4">Last Name</label>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>